
*{
	margin: 0;
	padding:0;
	font-family: Century Gothic ;

}
.header1{
height: 40px;
position: float;
background: black;
width: 100%;
font-weight: 300;

}
.image{

	height: 40px;
	width:50px;
	position: relative;
	left:85%;
}

.heading{
padding-left: 38%;
padding-bottom: 5%;
padding-top: 3%;

}

button{
	height:8%;
	width:10%;
	margin-bottom:10px;
	border-width: 2px;
	border-color: blue;
}
