*
{

	margin: 0;
	padding:0;
	font-family: Century Gothic ;
	font-weight: 300;
}
img
{

 padding-left: 40%;
 padding-bottom: 2%;
	
}

h2
{

	padding-left: 37%;
	padding-bottom: 2%;
}

a
{

text-decoration: none;
padding-left: 49%;
	
}