
*{
	font-family: Century Gothic ;
	
}

h1
{

	font-weight: 500;
}

a {
  background-color: #008CBA;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}
a:hover {
  background-color: #555;
  cursor: pointer;
}

.delete
{

  background-color: #f44336;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}
.delete:hover {
  background-color: #555;
  cursor: pointer;
}

th {
  background-color: #4CAF50;
  color: white;
}

th ,td
{
	padding:  7px;
	border :  0.3px solid grey;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;}