 *{

	margin: 0;
	padding:0;
	font-family: Century Gothic ;
	font-weight: 300;
}

body
{

background-image: url('bg.jpg');
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.wrapper
{

	background-color: rgb(0, 0, 0 , 0.5);
	margin: auto;
	padding: 40px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 320px;
	height: 350px;
}

.wrapper .heading{
	color: white;
	font-size: 32px;
	font-weight: 300;
	padding-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}

input{
	margin: 10px 0;
	border:  none;
	padding:  10px;
	border-radius: 5px;
	width:  80%;
	font-size: 16px;
	font-family: poppins; 
}

a
{

text-decoration: none;
color: lightblue;

}
span
{

	position: relative;
	margin-left: 5px;
	margin-top:  5px;
	display: inline-block;
	color: white;
	font-size: 13px;

}
.button{
	color:  #fff;
	border:  none;
	cursor: pointer;
	width: 40%;
	font-size: 16px;
	padding-left: 30%;
	padding-top: 10px;
}

h3{
color: white;
}

